.full-width.customer-logos-container.clear-background
  %p
    Members
  .logos-container
-#
    %img.logo{ src: "/images/home/bayer.svg", alt: "gitlab customer logo" }
    %img.logo{ src: "/images/home/nasa.svg", alt: "gitlab customer logo" }
    %img.logo{ src: "/images/home/sony.svg", alt: "gitlab customer logo" }
    %img.logo{ src: "/images/home/nasdaq.svg", alt: "gitlab customer logo" }
