---
layout: markdown_page
title: Retention Team
---

## On this page
{:.no_toc}

- TOC
{:toc}

## Vision

The Retention Team is part of the [Growth](/handbook/engineering/development/growth/) department and is responsible for improving our metrics on retention and reactivation of users.

## Team Members

The following people are permanent members of the Retention Team:

<%= direct_team(manager_role: 'Engineering Manager, Adoption and Retention') %>

## Stable Counterparts

The following members of other functional teams are our stable counterparts:

<%= stable_counterparts(role_regexp: /[,&] Activation/, direct_manager_role: 'Engineering Manager, Adoption and Retention') %>

## Common Links

* [Growth issues board]
* [#g_growth] in Slack


[Growth issues board]: https://gitlab.com/gitlab-org/growth/issues

[#g_growth]: https://gitlab.slack.com/archives/g_growth