---
layout: markdown_page
title: "Frontend Verify and Release Teams"
---

## On this page
{:.no_toc}

- TOC
{:toc}

## Mission

The Verify and Release teams (formerly CI/CD) work on the frontend part of GitLab for the [Verify] and [Release] stages.

For more details about the vision for this area of the product, see the [Verify] and
[Release] pages.

[Verify]: /stages-devops-lifecycle/verify/
[Release]: /stages-devops-lifecycle/release/

### Team members

<%= direct_team(role_regexp: /Release|Verify/, manager_role: 'Frontend Engineering Manager, Release (CD), Verify (CI) & Package') %>

### Stable counterparts

<%= stable_counterparts(role_regexp: /Release|Verify/, direct_manager_role: 'Frontend Engineering Manager, Release (CD), Verify (CI) & Package') %>

## Useful links

* [Verify and Release frontend board] - this shows work in the current release based on assignees
* [#g_verify] in Slack
* [#g_release] in Slack
* [#g_verify_release-fe] in Slack

[Verify and Release frontend board]: https://gitlab.com/groups/gitlab-org/-/boards/914400

[#g_verify]: https://gitlab.slack.com/archives/g_verify
[#g_release]: https://gitlab.slack.com/archives/g_release
[#g_verify_release-fe]: https://gitlab.slack.com/archives/g_verify_release-fe
